*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    padding: 20px;
    background-color: #F7F9FF;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav1{
    display: flex;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    margin-left: 110px;
    font-size: 18px;
    color: #383E54;
}
.nav2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 200px;
    margin-top: 10px;
    font-size: 16px;
}
.nav2 a{
    color:#555555;
    text-decoration: none;
    margin-right: 32px;  
}
.button{
    display: flex;
    gap: 8px;
}
.login{
    margin-left: 100px;
    color:#5978FF;
    width: 78px;
    height: 40px;
    border-radius: 10px;
    background-color:white;
    border-color:#5978FF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}
.get{
    color: white;
    width: 121px;
    height: 40px;
    border-radius: 10px;
    background-color:#5978FF;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}
.main2{
    display: flex;
    height: 90vh;
    background-image: linear-gradient(80deg,#f8f4f1,#ecf1ff);
    padding-top: 80px;
}
.contant1{
    display: flex;
    margin-left: 110.07px;
    margin-top: 40px;
}
.contant1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    line-height: 1.2;
    font-size: 42px;
    color: #121214;
}
.line1{
    color: #5978FF;
}
.contant2 p{
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-style: normal;
    margin-left:155px;
    margin-top: 30px;
    font-size: 16px;
    color: #121214;
}
.contant3{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-style: normal;
    display: flex;
    gap: 16px;
    color: #555555;
    margin-top: 40px;
}
.curve{
    margin-left: 385px;
}
#tick{
    padding-top: 4px;
}
#paper{
    padding-top: 4px;
    margin-left: 15px;
}
.c1{
    display: flex;
    margin-left: 150.73px;
    font-size: 18px;
    gap: 12px;

}
.c2{
    display: flex;
    font-size: 18px;
    gap: 12px;
}
.exp{
    color: white;
    width: 208px;
    height: 58px;
    border-radius: 12px;
    background-color:#5978FF ;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    margin-left: 150.73px;
    margin-top: 50px;
}
.img{
    margin-left: 70px;
    margin-top: 70px;
}  
.main3{
    height: 107vh;
} 
.watch{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    padding-top: 70px;
}
.youtube{
    text-align: center;
    margin-top: 30px;
}
.dots{
    margin-top: 50px;
}
.main4{
    height: 105vh;
    background-color:#F7F9FF;
    z-index: 50px;
}
.what{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    padding-top: 70px;
}
.div1{
    display: flex;
    gap: 80px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.l1{
    font-family: "Poppins", sans-serif;
    font-weight: bold ;
    font-style: normal;
    font-size: 20px;
}
.l2{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #555555;
    margin-top: 10px;
}
.div2{
    display: flex;
    gap: 99px;
    margin-top: 50px;
    align-items:center;
    justify-content: center;
}
.main5{
    height: 120vh;
    background-image: url("bg.png");
    background-color: #F7F9FF;
}
.meet{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    padding-top: 70px;
}
.div3{
    display: flex;
    gap: 20px;
    align-items:center;
    justify-content: center;
    padding-top: 70px;
}
.box4,.box5,.box6{
    width: 305px;
    height: 400px;
    background-color:#FFFFFF;
    margin-left:20px ;
}

.icon{
    padding-left: 6px;
    padding-top: 7px;
}
.con1{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #402708;
}
.con2{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #121214;
}
#con1{
    padding-left: 40px;
}
#con2{
    padding-left: 70px;
}
#con3{
    padding-left: 130px;
}
.con3{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #555555;
}
.cc{
    display: flex;
    padding-left: 10px;
    padding-top: 12px;
    background-color: #F7F9FF;
    border-radius: 10px;
    justify-content: space-between;
}
.con4{
    margin-left: 14px;
    margin-top: 15px;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F7F9FF;
    height: 65px;
    width: 270px;
    border-radius: 15px;
}
.in1_1{
    color: #555555;
    font-size: 14px;
    text-decoration:line-through;
}
.in1_2{
    font-size: 15px;
    color: #0D1226;
    font-weight: 500;
}
.btn{
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color:#5978FF;
    border: none;
    font-size: 14px;
    margin-left: 40px;
}
.explore{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    gap: 10px;
    margin-left: 550px;
    padding-top: 50px;
    color: #5978FF;
    font-size: 17px
}

.main6{
    height: 130vh;
    background-color: #F7F9FF;
}
.c_1{
    display: flex;
    margin-left: 140px;
}
.get_con{
    display: flex;
}
.get_con p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 70px;
}
.step{
    width: 59px;
    height: 26px;
    background-color: #CBF2E0;
    padding:5px;
    border-radius: 20px;
    margin-top: 40px;
    color: #008545;
}
.b1{
    color: #008545;
    margin-left: 9px;
    margin-top: 4px;
}
.tex1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 10px;
}
.tex2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
    color: #555555;
}
.coin{
    margin-top: 100px;
    margin-left: 80px;
}

.main7{
    height: 111vh;
}
.see{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    padding-top: 50px;
}
.div_p1{
    background-color: #F0F9FA;
    height:320px;
    width: 321px;
    margin-right: 20px;
    border-radius: 30px;
    position: relative;
    margin-top: 55px;
}
.div_p2{
    background-color:#FFF5EC;
    height:320px;
    width: 321px;
    margin-right: 20px;
    border-radius: 30px;
    position: relative;
    margin-top: 55px;

}
.p_img{
    margin-left: 140px;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}
.boxx1{
    display: flex;
    height: 400px;
    width: 900px;
    overflow-x:auto;
    margin-left: 180px;
    margin-top: 80px;
   

}
::-webkit-scrollbar{
    display: none;
}
.textt1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    padding-top: 70px;
}
.textt2{
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #555555;
}
#jus{
    text-align:center;
    width: 280px;
}
.textstar1{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.textstar2{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.page3{
    display: flex;
    gap: 100px;
}

.container {
    overflow: hidden;
    margin-left: 580px;
    margin-top:50px;
    height: 80px;
    
}
.scroll-progress {
    width: 10%;
    height: 5px;
    background-color: #D9D9D9;
  
    border-radius: 20px; 
}
.progress-bar{
    width: 0;
    height: 100%;
    background-color: #0D1226;
    transition: width 0.3s ease-out;
    border-radius: 20px;
}


.main8{
    height: 111vh;
    background-color:white;
}
.month p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    text-align: center;
    padding-top: 50px;
}
.table1{
    display: flex;
    height: 330px;
    width: 850px;
    overflow-x:auto;
    margin-left: 230px;
    margin-top: 60px;
}
.tabel_p1{
    background-color:white;
    height:370px;
    width: 500px;
    margin-right: 25px;
    margin-top: 30px;
}
.tec1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    padding-top: 10px;
}
.tec2 p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    padding-top: 10px;
    color: #555555;
}
.tec3{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #5978FF;
}
#rect3{
    border-radius: 10px;
}

.main9{
    height: 105vh;
    background-color:#0D1226;
    padding-left: 50px;
    padding-right: 50px;
}
.fynro{
    display: flex;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 110px;
    font-size: 20px;
    color: #FFFFFF;
}
.ut{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    font-size: 14px;
    color: #FFFFFF;
}
.font{
    display: flex;
    gap: 15px;
    margin-top: 40px;
}
.col2,.col3,.col4{
    padding-top: 85px;
}
.col1{
    margin-left: 80px;
}
.col2 p,.col3 p,.col4 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-top: 30px;
    color: #FFFFFF;
}
#head{
    font-weight: 600;
}
#str{
    text-align: center;
    padding-top: 100px;
}
.ut{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    font-size: 14px;
    color: #FFFFFF;
}
.font{
    display: flex;
    gap: 15px;
    margin-top: 40px;
}
.col2,.col3,.col4{
    padding-top: 85px;
}
.col1{
    margin-left: 80px;
}
.col2 p,.col3 p,.col4 p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-top: 30px;
    color: #FFFFFF;
}
#head{
    font-weight: 600;
    font-size: 16px;
}
#str{
    text-align: center;
    padding-top: 100px;
    color: #C0C0C0;
}
.last{
    border-top: #FFFFFF solid 1px;
    display: flex;
    gap: 500px;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF ;
    margin-top: 130px;
    width: 1200px;
}
._2024{
    margin-left: 80px;
}
.last1{
    display: flex;
    gap: 90px;
}


